########################################################################################################################
# RASCAL Configuration file                                                                                            #
#                                                                                                                      #
# contact: alvaro@intermet.es                                                                                          #
########################################################################################################################

# Total period that spans the reanalysis data
initial_year: 2005
final_year: 2013

# Training period: Period to use to calculate the PCA and the seasonal mean for the anomalies.
training_start: [2006, 1, 1]
training_end: [2013, 12, 31]

# Reconstruction period: Period to reconstruct.
reconstruction_start: [2005, 1, 1]
reconstruction_end: [2013, 12, 31]

# Input paths
reanalysis_path: "./data/reanalysis/ERA5/"
observations_path: "./data/observations/"

# Output paths
pca_path: './pca/'
temporal_files_path: "./tmp/"
output_path: "./output/"
plot_path: "./plots/"

# Stations
stations:
  - "St03"

# Variables to reconstruct
variables:
  - "TMEAN"
  - "TMAX"
  - "TMIN"

# Synoptic predictor
predictor_lat_min: 30
predictor_lat_max: 50
predictor_lon_min: -30
predictor_lon_max: 5

predictor_grouping: "00hour_1D_mean"

grouping_per_variable:
  TMEAN: "1D_mean"
  TMAX: "1D_max"
  TMIN: "1D_min"
  PCP: "1D_sum"

predictor_for_variable:
  TMEAN: [ '925_Z' ]
  TMAX: [ '925_Z' ]
  TMIN: [ '925_Z' ]
  PCP: [ 'SURF_71.162', 'SURF_72.162' ]

overwrite_predictor: True

# Quantile Mapping Variable
mapping_variables_for_variable:
  TMEAN: [ 'SURF_T']
  TMAX: [ 'SURF_T']
  TMIN: [ 'SURF_T']
  PCP: [ 'SURF_71.162', 'SURF_72.162' ]


########################################################################################################################
# Principal Component Analysis                                                                                         #
########################################################################################################################
seasons:
  - [12, 1, 2]
  - [3, 4, 5]
  - [6, 7, 8]
  - [9, 10, 11]
standardize_anomalies: True
n_components: 4
pca_scaling: 1
    # 0 : Un-scaled PCs.
    # 1 : PCs are scaled to unit variance (divided by the square-root of their eigenvalue) (default).
    # 2 : PCs are multiplied by the square-root of their eigenvalue.

overwrite_pcs: True

########################################################################################################################
# Analog method                                                                                                        #
########################################################################################################################
analog_pool_size: [20, 50, 100]
weighted_mean_sample_size: [2, 5, 10]
distance: 'euclidean'

validation_window_size: 0
validation_window_type: 'centered'

similarity_methods:
  - 'closest'
  - 'average'
  - 'quantilemap'